select {
    font-size: 12px;
    text-align: left;
    height: 20px;
    border: none;
    width: 90px;
    border-bottom: 1px solid black;
}

.selectBox {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}